SUBSYSTEM=="tty", ENV{ID_BUS} == "usb", GROUP="dialout", MODE="0660"

SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1a86", ENV{ID_MODEL_ID}=="7523", ENV{ID_REVISION}=="0262", SYMLINK+="ttyUV5R"
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="06cd", ENV{ID_MODEL_ID}=="0121", SYMLINK+="ttyKEYSPAN%n"
SUBSYSTEM=="tty", ENV{ID_SERIAL_SHORT} == "DN01JCUC", SYMLINK+="ttyEINSBOARD1"
SUBSYSTEM=="tty", ENV{ID_SERIAL_SHORT} == "DN01JJNR", SYMLINK+="ttyEINSBOARD2"
SUBSYSTEM=="tty", ENV{ID_MODEL} == "Arduino_Uno", SYMLINK+="ttyUNO%n"
